<h1>Welcome to Viewing Party!</h1><br>

<h3>Viewing party is an application for you to explore movie options and to create a viewing party event for you and friends.</h3><br>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %><br>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %><br><br>
  <%= form.submit "Sign In" %>
<% end %><br>

<%= link_to "New to Viewing Party? Register here", new_user_path %>
